*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #ecfeff;
}
.container{
    width: 720px;
    margin: auto;
}
.map {
    border: #06b6d4 solid 2px;
    margin: auto;
    width: 720px;
    height: 480px;
}

.container,.row{
    justify-content: space-between;
    display: flex;
}
.column{
    flex-direction: column;
    display: flex;
}
.item{
    line-height: 32px;
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 20px;
    height: 40px;
    width: 240px;
    background: #cffafe;
    border: #06b6d4 solid 3px;
}
.item > *{
    vertical-align: middle;
}
.value{
    margin-left: 10px;
    width: 100px;
}
h1{
    margin: 30px;
    text-align: center;
}
.weatherInfo{
    line-height: 32px;
    height: 40px;
    width: 720px;
    border-radius: 20px;
    background: #cffafe;
    border: #06b6d4 solid 3px;
    margin: auto;
    text-align: center;
    font-size: 24px;
}